body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-image: url("../img/sky beach backround.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9f9f9;
  height: 100vh;
  overflow: hidden;
}
.body-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(133,3,194);
background: linear-gradient(180deg, rgba(133,3,194,1) 0%, rgba(82,0,121,1) 100%);
  filter: opacity(85%);

}
/*div{
  margin: 15px 0;
}*/
#main-container{
  max-width: 750px;
  min-width: 550px;
  width: 100%;
  height: 70%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  /*border: 1px solid red;*/
}
.title{
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  margin: 25px 0;
  filter: drop-shadow(1px 5px 8px #000000);
  -webkit-filter: drop-shadow(1px 5px 8px #000000);
  -moz-filter: drop-shadow(1px 5px 8px #000000);
}
.title span:nth-child(1){
  font-family: 'Acme', sans-serif;
  font-size: 35px;
  background: -webkit-linear-gradient(#FAE404, #b28003);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title span:nth-child(2){
  text-transform: lowercase;
}
.question-section {
  width: 650px;
  margin-bottom: 25px;
  /*border: 2px solid green;*/
}
.question-section input[type=text]{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #8019b0;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 150px 5px 10px;
  filter: drop-shadow(1px 8px 14px #000000);
-webkit-filter: drop-shadow(1px 8px 14px #000000);
-moz-filter: drop-shadow(1px 8px 14px #000000);
}
.question-section input[type=text]::placeholder{
  color: #b0b0b0;
  font-weight: 500;
}
.question-section button{
  position: relative;
  top: -37px;
  left: 505px;
  color: #f9f9f9;
  background-color: #08da08;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  width: 140px;
  height: 34px;
  cursor: pointer;
}
/* === Response section styling === */
.response-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 650px;
  /*border: 1px solid yellow;*/
}
.shake{
    /* Start the shake animation and make the animation last for 1 second */
    animation: shake 1s;
}

  @keyframes shake {
    0% { transform: translate(4px, 4px) rotate(0deg); }
    10% { transform: translate(-4px, -4px) rotate(-1deg); }
    20% { transform: translate(-7px, 0px) rotate(1deg); }
    30% { transform: translate(7px, 4px) rotate(0deg); }
    40% { transform: translate(4px, -4px) rotate(1deg); }
    50% { transform: translate(-4px, 4px) rotate(-1deg); }
    60% { transform: translate(-7px, 4px) rotate(0deg); }
    70% { transform: translate(7px, 4px) rotate(-1deg); }
    80% { transform: translate(-4px, -4px) rotate(1deg); }
    90% { transform: translate(4px, 4px) rotate(0deg); }
    100% { transform: translate(4px, -4px) rotate(-1deg); }
  }

#fortune-container{
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 0.5px solid #c2c2c2;
  line-height: 1.8;

}
/*.fortune-box p:nth-child(2){
  padding: 0 10px;
}*/
.eight-ball-box{
  align-items: center;
  position: relative;
}
.eight-ball-box img{
  position: relative;
  width: 250px;
  filter: drop-shadow(1px 8px 14px #000000);
-webkit-filter: drop-shadow(1px 8px 14px #000000);
-moz-filter: drop-shadow(1px 8px 14px #000000);
}
.eight-ball-box img:nth-child(2){
  position: relative;
  top: -248px;
  left: 0;
  z-index: 1;
}
.eight-ball-back p{
  color: white;
  font-size: 15px;
  text-align: center;
  top: 0;
  left: 10px;
  position: absolute;
  width: 93px;
  height: 93px;
  margin: 0px;
  z-index: 2;
}
#question-display{
   text-align: center;
}
.q-title{
   color: #f0bb29;
   font-family: 'Acme', sans-serif;
   font-size: 25px;
   line-height: 1.1;
   transition: all 1s ease-in-out;
}
.question{
   color: #e9e9e9;
   font-size: 20px;
}
#fortune{
   text-align: center;
}
#message{
  font-size: 18px;
  text-align: center;
  animation: 2s linear message;
}
/*.hide{
  display: none;
}*/
#fortune .fortune-title{
  margin-top: 15px;
  font-family: 'Acme', sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  background: -webkit-linear-gradient(#FAE404, #b28003);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*opacity: 1;
  transition: opacity 1.5s;*/
  animation: 1s linear fadeinTitle;
}
@keyframes fadeinTitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

hr {
  border-color: #9f33d1;
  width: 70%;
  margin: auto;
  margin-bottom: 10px;
}
#message{
   font-family: 'Acme', sans-serif;
   font-size: 20px;
   font-weight: 500;
   transition: 4s ease-in-out;
}
#clear-btn{
  align-self: center;
  color: #f9f9f9;
  background-color: #8019b0;
  border-radius: 5px;
  border: 2px solid #8560a8;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  width: 250px;
  height: 34px;
  margin: 20px 0;
  cursor: pointer;
  transition: 0.6s;
}
#clear-btn:hover{
  background-color: #8560a8;
}
